.container {
  background-color: black;
  width: 1110px;
  height: 349px;
  display: flex;
  text-align: left;
  border-radius: 10px;
  margin-top: 10%;
  margin-left: 20%;

}
.leftside {
  width: 426px;
  height:184px ;
}

.rightside {
  margin-left:158px ;
  margin-top: 36px;
  margin-left: 158px;
}
h1 {
  margin-top: 83px;
  margin-left: 96px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  }

  .Button {
  margin-left: 96px;

  }